PORT=3000

CLIENT_URL=http://localhost:5074


Mongo_Atlas_Url=Your_Mongo_Altas_URI


COOKIE_SECRET=Your_Secret_Key

SESSION_SECRET=Your_Session_Secret

COOKIE_MAX_AGE=1209600000   #   1000 * 60 * 60 * 24 * 7 * 2  two week


JWT_SECRET=Your_JWT_Secret


OTP_EXPIRY_MINUTES=15


CLOUDINARY_CLOUD_NAME=Your_CloudinaryStorage_Name
CLOUDINARY_API_KEY=Your_Cloudinary_API_Key
CLOUDINARY_API_SECRET=Your_Cloudinary_API_Secret

RESEND_API_KEY=Your_Resend_API_Key


NODE_ENV=none